<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <file>tests/SampleTest.php</file>
        </testsuite>
        <testsuite name="Integration Tests">
            <file>tests/IntegrationTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>